https://github.com/scikit-build/cmake-python-distributions/releases/download/v3.25.0/cmake-3.25.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
dlib==19.24.4
numpy==1.26.4
opencv-python==4.10.0.82
setuptools==70.0.0
streamlit-webrtc
